/* * {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(26, 163, 204);
}

.main {
  width: 420px;
  margin-top: 200px;
  background: white;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 30px 6px #015e7a;
} */

h1 {
  margin: 40px;
}

.collection {
  border: 1px solid gray;
  border-radius: 6px;
  margin: 20px 0;
  padding: 20px;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tags {
  display: flex;
  list-style: none;
}

.tags li {
  border: 1px solid #444;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.active {
  background-color: #444;
  color: #FFF;
}

.search {
  margin: 20px;
}

.search-input {
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 20px;
}

.search-input:focus {
  outline: 0;
}

.image-gallery-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collection {
  max-width: 800px;
}

.image-gallery-thumbnail {
  width: 150px;
}