/* .cities {
    display: none;
}

.cities.active {
    display: inline-block;
} */

/* <div id="container"> */

/* #container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 540px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
} */