/* body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin: 0;
}

table {
    margin: 0 auto;
}

th, td {
    border: 1px solid gray;
    padding: 6px 12px;
} */