.container {
    max-width: 1100px;
    
    margin: 0 auto; /* Теперь это правило сработает и отцентрует контейнер */
    
    /* Настраиваем внутреннюю сетку контейнера */

    align-items: center; /* Выравниваем картинку и текст по вертикали */
 
}